/* Imported fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans:wght@600&family=Playfair+Display&family=Roboto:ital,wght@0,100;0,500;1,100;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans:wght@600&family=Pixelify+Sans:wght@500&family=Playfair+Display&family=Roboto:ital,wght@0,100;0,500;1,100;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cardo&family=Josefin+Sans:wght@600&family=Pixelify+Sans:wght@500&family=Playfair+Display&family=Roboto:ital,wght@0,100;0,500;1,100;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Bebas+Neue&family=Cardo&family=Josefin+Sans:wght@600&family=Pixelify+Sans:wght@500&family=Playfair+Display&family=Roboto:ital,wght@0,100;0,500;1,100;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{margin:0px;
    padding:0px;}
    /* This sets bg image to cover whole screen & hide overflows */
  .bg{
      background-image: url(char.png);
      background-size: cover;
      height:auto;
      background-position: center;
      background-repeat:repeat;
      width: 100%;
      overflow: hidden;
    }
    /* This sets the size (margin & padding), color, border, etc of the navbar */
    .navbar{
      margin: 50px;
      margin-left: 30px;
      margin-top: 5%;
      padding-top: 10px;
      padding-left: 0px;
      padding-right: 10px;
      background: #f3ede0;
      height: 350px;
      width: 50px;
      border: solid 2px rgb(0, 0, 0);
      position: absolute;
      float: left;
    }
     /* This sets size, position and roundness of icon image on the left */
    .icon{
      width: 40px;
      height: 40px;
      float:right;
      border-radius: 50%;
      margin-right: 5%;
     }
    /* This sets size and roundness of icon image border on the left */
    .icon img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin:5px;
      border: solid 2px #f3ede0;
    }
     /* This is the general styles for the icons inside the navbar; size, position, roundness */
    .links{
    width: 40px;
    height: 40px;
    float:left;
    border-radius: 50%;
    }
    /* This is the styles for the color, size, roundness of the icons' borders*/
    .links img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin:5px;
    margin-left: 2%;
    border: solid 2px rgb(0, 0, 0);
    }
    /* This is the styles set when hovering the icons; color, opacity, roundness*/
    .links a :hover{
        background-color:#dccaa8;
        color: #dccaa8;
        border-radius: 50%;
        opacity: .5;
    }
    /* This fixes the position of all the divs within div banner */
    .banner{
      padding-top: 10%;
      padding-bottom: 10%;
      text-align: center;
     }
     /* This is the general styles for the footbar; fixes the position, color, border, and font of those in it */
    .footer{
      margin: 0px;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      background: #f3ede0;
      height: 50px;
      width: 100%;
      border: 20px black;
      font-family: 'Tilt Neon', sans-serif;
    }
    /* This sets position of copyright text to left */
    .copyright{
      float:left;
    }
    /* Sets links to right with padding */
    .links{
      float: right;
      padding-top: 9px;
    }
    /* This sets first word of title text to color black */
    .text1{
      color:black;
      text-align: justify;
      font-size:larger;
    }
    /* This sets 2nd and 3rd words of title text to color white */
    .text2{
      color:#f3ede0;
      text-underline-position: below;
      text-align: justify;
      font-size:larger;
    }
    /* This sets 4th and 5th words of title text back to black */
    .text4{
      color: #000000;
      text-align: justify;
      font-size:larger;
    }
    /* This sets last 2 words of title text back to color white */
    .text5{
    color: #f3ede0;
    text-align: justify;
    font-size:larger;
    }
    /* This sets colors, font, position, padding & margin of subtext */
    .paragraph{
      color: rgb(0, 0, 0);
      margin-top:1%;
      padding-top: 5%;
      padding-bottom: 10%;
      text-align: center;
      font-family: 'Alice', serif;
    }
    /* For the clickable "button" below index; here we set the color of the text, of the border, roundness, & font*/
    .link a{
      color: #d56d3f;
      background-color: #8aab94;
      border: solid 5px  #2b7f85;
      opacity: 10;
      padding: 1%;
      border-radius: 50%;
     font-family: 'Pixelify Sans', sans-serif;
    }
    /* This sets color & opacity of said button when hovered*/
    .link a:hover {
      background-color:#2b7f85;
      color: #2b7f85;
      opacity: .5;
    }
    /* Padding set for clickable "button" */
    .link{
        padding-top: 3%;
    }
    /* This sets copyright text to right with padding */
    .copyright{
      float: right;
      padding-top: 15px;
    }
    /* Sets position for photos on "our team" page */
    .images{
      text-align: center;
      padding: 3%;
      margin: 3%;
    }
    /* Sets roundness of pictures found on class images */
    .rounded-image {
      border-radius: 50%;
      padding: 1%
    }
    /* General styles for title text on index; sets position & font of texts within it */
    .heading{
      font-family: 'Playfair Display', serif;
      float:right;
      position: absolute;
      top: 14%;
      left: 15%;
      text-align: right;
      margin-right: 80px;
    }
    /* Rounds icons found on footer*/
    .rounds{
      border-radius: 50%;
    }
    /* Class for icons found on footer; sets position to right with margin */
    .linkd{
      float: right;
      margin-top: 1%;
      margin-right: 1%;
    }
    /* Sets image on index to the center with margin at the top*/
    .money{
      text-align: center;
      margin-top: 5%;
    }
    /* Sets margin, position, color, font, and size of header on second page */
    .heading1{
      margin-top: 1%;
      margin-left: 30%;
      font-family: 'Bebas Neue', sans-serif;
      position: absolute;
      top: 14%;
      left: 15%;
      font-size: larger;
      text-align: center;
      background-color: #2b7f85;
      
    }
    /* General styles for pics found on all pages except index and main; sets the images to left with margin*/
    .pics{
      float: left;
      margin-left: 19%;
      margin-top: 5%;
    }
    /* Found on all pages except index & main; general setting for padding and position of elements found in it */
    .banner1{
      padding-top: 10%;
      padding-bottom: 20%;
      text-align: center;
    }
    /* Acts as a bigger container for a smaller container; sets color, font & margin of texts and container itself */
    .paragraph1{
      color: rgb(0, 0, 0);
      margin-top:3%;
      text-align: center;
      margin-left: 30%;
      margin-right: 20%;
      font-family: 'Alice', serif;
      border: solid 2px #d56d3f;
      background-color: #dccaa8;
      padding: 2%;
    }
    /* This sets margin of clickable "button" */
    .link1{
      margin-bottom: 5%;
    }
    /* For the clickable "button" below each page; same as class link but position is more on the right than center*/
    .link1 a{
      color: #d56d3f;
      background-color: #8aab94;
      border: solid 5px  #2b7f85;
      padding: 1%;
      border-radius: 50%;
      font-family: 'Pixelify Sans', sans-serif;
      margin-left: 50%;
      margin-bottom: 20px;
    }
    /* Styles or appearance when button is hovered*/
    .link1 a:hover {
      background-color:#2b7f85;
      color: #2b7f85;
      opacity: .5;
    }
    /* The smaller container found inside paragraph 1; only smaller in size and different in color*/
    .container1{
      background-color: #8aab94;
      border: solid 5px  #2b7f85;
      margin: 20px;
      padding:10px;
    }
    /* Sets header of second page & other texts to a certain color*/
    .text7{
      color: #dccaa8;
    }
    /* Sets text in main page & other texts to a certain color*/
    .text8{
      color: #2b7f85;
    }
    /* Sets color of texts in this div*/
    .text9{
    color: #dccaa8;
    }
    /* Acts as container of the texts in the main page; styles color of container itself, position & font of texts*/
    .heading2{
      float:left;
      margin-left: 8%;
      background-color: #dccaa8;
      border: solid 3px  #d56d3f;
      padding: 5px;
      margin-top: 2%;
      font-family: 'Bebas Neue', sans-serif;
    }
    /* Sets text to center and a certain font, found on conclusion part of main page*/
    .heading3{
      text-align: center;
      font-size: larger;
      font-family: 'Bebas Neue', sans-serif;
    }
    /* Sets text in conclusion to a certain font*/
    .font{
      font-family: 'Alice', serif;
    }
    /* Sets texts to a certain color*/
    .text10{
      color: #2b7f85;
    }
    /* Styles for heading in team and reference page; sets position to center and background to a certain color*/
    .heading4{
      margin-top: 1%;
      margin-left: 32%;
      font-family: 'Bebas Neue', sans-serif;
      position: absolute;
      top: 14%;
      left: 15%;
      font-size: larger;
      text-align: center;
      background-color: #d56d3f;
    }
    /* Serves as container with texts of reference page*/
    .paragraph2{
      color: rgb(0, 0, 0);
      margin-top:3%;
      text-align: center;
      margin-left: 30%;
      margin-right: 20%;
      font-family: 'Alice', serif;
      border: solid 2px #2b7f85;
      background-color: #dccaa8;
      padding: 2%;
      letter-spacing: 1%;
    }
    /* Acts as container within a bigger container, same as container1 but with a different color*/
    .container2{
    background-color: #dccaa8;
    border: solid 5px  #d56d3f;
    margin: 20px;
    padding:20px;
  }