@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans:wght@600&family=Playfair+Display&family=Roboto:ital,wght@0,100;0,500;1,100;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans:wght@600&family=Pixelify+Sans:wght@500&family=Playfair+Display&family=Roboto:ital,wght@0,100;0,500;1,100;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cardo&family=Josefin+Sans:wght@600&family=Pixelify+Sans:wght@500&family=Playfair+Display&family=Roboto:ital,wght@0,100;0,500;1,100;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Bebas+Neue&family=Cardo&family=Josefin+Sans:wght@600&family=Pixelify+Sans:wght@500&family=Playfair+Display&family=Roboto:ital,wght@0,100;0,500;1,100;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{margin:0px;
    padding:0px;}
  
  .bg{
      background-image: url(char.png);
      background-size: cover;
      height:auto;
      background-position: center;
      background-repeat:repeat;
      height: auto;
      width: 100%;
      overflow: hidden;
  }
  .navbar{
      margin: 50px;
      margin-left: 30px;
      margin-top: 5%;
      padding-top: 10px;
      padding-left: 0px;
      padding-right: 10px;
      background: #f3ede0;
      height: 350px;
      width: 50px;
      border: solid 2px rgb(0, 0, 0);
      position: absolute;
      float: left;
  }
  .icon{
      width: 40px;
      height: 40px;
      float:right;
      border-radius: 50%;
      margin-right: 5%;
  }
  .icon img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin:5px;
      border: solid 2px #f3ede0;
  }
.links{
    width: 40px;
    height: 40px;
    float:left;
    border-radius: 50%;
}
.links img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin:5px;
    margin-left: 2%;
    border: solid 2px rgb(0, 0, 0);
}
.links a :hover{
        background-color:#dccaa8;
        color: #dccaa8;
        border-radius: 50%;
        opacity: .5;
}
  .banner{
      padding-top: 10%;
      padding-bottom: 10%;
      text-align: center;
  }
  
  .footer{
      margin: 0px;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      background: #f3ede0;
      height: 50px;
      width: 100%;
      border: 20px black;
      font-family: 'Tilt Neon', sans-serif;
  }
  .copyright{
      float:left;
  }
  .links{
      float: right;
      color:#c729d5;
      padding-top: 9px;
  }
  .text1{
      color:black;
      text-align: justify;
      font-size:larger;
  }
  .text2{
      color:#f3ede0;
      text-underline-position: below;
      text-align: justify;
      font-size:larger;
  }
  .text4{
      color: #000000;
      text-align: justify;
      font-size:larger;
  }
  .text5{
    color: #f3ede0;
    text-align: justify;
    font-size:larger;
  }

  .paragraph{
      color: rgb(0, 0, 0);
      margin-top:1%;
      padding-top: 5%;
      padding-bottom: 10%;
      text-align: center;
      font-family: 'Alice', serif;
  
  }
  .link a{
      color: #d56d3f;
      background-color: #8aab94;
      border: solid 5px  #2b7f85;
      opacity: 10;
      padding: 1%;
      border-radius: 50%;
    font-family: 'Pixelify Sans', sans-serif;
  }
  .link a:hover {
    background-color:#2b7f85;
    color: #2b7f85;
    opacity: .5;
  }
  .copyright{
    float: right;
      padding-top: 15px;
  }
  .link{
      padding-top: 3%;
  }
  .pages1{
          background-image: url(bg2.jpg);
          background-size: cover;
          height:auto;
          background-position: center;
          background-repeat:repeat;
          height: auto;
          width: 100%;
  }
  .images{
      text-align: center;
      padding: 3%;
      margin: 3%;
  }
  .rounded-image {
      border-radius: 50%;
      padding: 1%
  }
  .heading{
    font-family: 'Playfair Display', serif;
    float:right;
    position: absolute;
    top: 14%;
    left: 15%;
    text-align: right;
    margin-right: 80px;
  }
  .rounds{
      border-radius: 50%;
  }
  .header{
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      color: #fefb91;
      background-color: #fdaf3b;
      border: solid 5px rgb(248, 142, 37);
      opacity: 10;
      padding: 1%;
  }
  .linkd{
    float: right;
    margin-top: 1%;
    margin-right: 1%;
  }
.money{
    text-align: center;
    margin-top: 5%;
}
.banner{
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}
.heading1{
    margin-top: 1%;
    margin-left: 25%;
    font-family: 'Bebas Neue', sans-serif;
    position: absolute;
    top: 14%;
    left: 15%;
    font-size: larger;
    text-align: center;
    background-color: #2b7f85;
}
.text6{
    color:#f3ede0;
    text-underline-position: below;
    text-align: center;
    font-size:larger;
}
.pics{
    float: left;
    margin-left: 19%;
    margin-top: 5%;
}
.banner1{
        padding-top: 10%;
        padding-bottom: 20%;
        text-align: center;
    }
.paragraph1{
    color: rgb(0, 0, 0);
    margin-top:3%;
    text-align: center;
    margin-left: 30%;
    margin-right: 20%;
    font-family: 'Alice', serif;
    border: solid 2px #d56d3f;
    background-color: #dccaa8;
    padding: 2%;
}
.link1{
    margin-bottom: 5%;
}
.link1 a{
 color: #d56d3f;
  background-color: #8aab94;
  border: solid 5px  #2b7f85;
  padding: 1%;
  border-radius: 50%;
font-family: 'Pixelify Sans', sans-serif;
margin-left: 50%;
margin-bottom: 20px;
}
.link1 a:hover {
    background-color:#2b7f85;
    color: #2b7f85;
    opacity: .5;
  }
.container1{
    background-color: #8aab94;
    border: solid 5px  #2b7f85;
    margin: 20px;
    padding:10px;
}
.text7{
    color: #dccaa8;
}
.text8{
    color: #2b7f85;
}
.text9{
    color: #dccaa8;
}
.heading2{
    float:left;
    margin-left: 8%;
    background-color: #dccaa8;
    border: solid 3px  #d56d3f;
    padding: 5px;
    margin-top: 2%;
    font-family: 'Bebas Neue', sans-serif;
}
.heading3{
    text-align: center;
    font-size: larger;
    font-family: 'Bebas Neue', sans-serif;
}
.font{
    font-family: 'Alice', serif;
}
  .text10{
    color: #2b7f85;
  }
  .heading4{
    margin-top: 1%;
    margin-left: 25%;
    font-family: 'Bebas Neue', sans-serif;
    position: absolute;
    top: 14%;
    left: 15%;
    font-size: larger;
    text-align: center;
    background-color: #d56d3f;
  }
  .paragraph2{
  color: rgb(0, 0, 0);
  margin-top:3%;
  text-align: center;
  margin-left: 30%;
  margin-right: 20%;
  font-family: 'Alice', serif;
  border: solid 2px #2b7f85;
  background-color: #dccaa8;
  padding: 2%;
  letter-spacing: 1%;
  }
  .container2{
    background-color: #dccaa8;
    border: solid 5px  #d56d3f;
    margin: 20px;
    padding:20px;
  }